{extend name="layout:base" /}
{block name="main_content"}
<div class="page-content">
    <!--主题-->
    <?php if(!empty($current_page)): ?>
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {$current_page.title|default=''}
            </small>
        </h1>
    </div>
    <?php endif; ?>
    <div class="row">
        <?php if(!empty($notice)): ?>
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon fa fa-check green"></i>
            {$notice}
        </div>
        <?php endif; ?>
        <div class="col-xs-12">
            <div class="row maintop">
                <div class="col-xs-4 col-sm-2">
                    <a href="{:url('[tpadmin.auth.role.create]')}">
                        <button class="btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-plus bigger-110"></i>添加角色组
                        </button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <form method="post" action="{:url('resort')}" >
                        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>角色组名</th>
                                    <th class="center">状态</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th class="center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $paginate->all() as $key => $role }
                                <tr>
                                    <td>{$role->title}</td>
                                    <td>{$role->status}</td>
                                    <td>{$role->create_time}</td>
                                    <td>{$role->update_time}</td>
                                    <td class="center">
                                        <a class="green" href="{:url('[tpadmin.auth.role.edit]', ['id' => $role->id])}">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>编辑
                                        </a>
                                        <a class="red" herf="javascript:void(0);" onclick="alert_del(this);" data-del-href="{:url('[tpadmin.auth.role.delete]', ['id' => $role.id])}" data-del-id='{$role.id}'>
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>删除
                                        </a>
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                        <button class="btn btn-info" type="submit">
                            更新排序
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
<script type="text/javascript">
    jQuery(function($){
        $("form#delete-form").validate({
            submitHandler: function(form){
                var $form = $(form);
                $.ajax({
                    url: $form.attr("action"),
                    type: $form.attr("method"),
                    dataType: "JSON",
                    data: $form.serialize(),
                    success: function(data){
                        if(data.code){
                            location.href = data["url"];
                        }else{
                            alert(data["msg"]);
                        }
                    }, error: function () {
                        alert("数据执行错误！");
                    }
                });
            }
        });
    });
</script>
{/block}