<!-- 侧边导航栏 -->
<div class="left-sidebar">
    <ul class="sidebar-nav">
        {foreach $menus as $menu}
            <li class="sidebar-nav-link">
                <a href="{if isset($menu['children'])}javascript:;{else}/tadmin{$menu.uri}{/if}" class="sidebar-nav-sub-title">
                    <i class="{$menu.icon} sidebar-nav-link-logo"></i> {$menu.title}
                    {if isset($menu['children'])}
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    {/if}
                </a>
                {if isset($menu['children'])}
                <ul class="sidebar-nav sidebar-nav-sub">
                    {foreach $menu['children'] as $children}
                        <li class="sidebar-nav-link">
                            <a href="/tpadmin{$children.uri}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> {$children.title}
                            </a>
                        </li>
                    {/foreach}
                </ul>
                {/if}
            </li>
        {/foreach}
    </ul>
</div>